altgraph                  0.17.4
auto-py-to-exe            2.44.1
bottle                    0.13.1
bottle-websocket          0.2.9
certifi                   2024.8.30
cffi                      1.17.1
charset-normalizer        3.3.2
Eel                       0.17.0
future                    1.0.0
gevent                    24.2.1
gevent-websocket          0.10.1
greenlet                  3.1.0
idna                      3.9
importlib_metadata        8.5.0
packaging                 24.1
pefile                    2024.8.26
pillow                    10.4.0
pip                       23.2.1
pycparser                 2.22
pyinstaller               6.10.0
pyinstaller-hooks-contrib 2024.8
pyparsing                 3.1.4
PyQt6                     6.7.1
PyQt6-Qt6                 6.7.2
PyQt6_sip                 13.8.0
pywin32-ctypes            0.2.3
requests                  2.32.3
setuptools                68.2.0
uic                       0.0.1
urllib3                   2.2.3
wheel                     0.41.2
whichcraft                0.6.1
zipp                      3.20.2
zope.event                5.0
zope.interface            7.0.3